$thead-bg-color-1: var(--color-gray-700);
$thead-bg-color-2: var(--color-gray-600);
$thead-bg-color-3: var(--color-gray-800);

$header-color: var(--color-gray-300);
$text-color: var(--color-gray-200);
$link-color: var(--color-red-500);
$focus-color: var(--color-gray-600);
$text-color-td: var(--color-gray-200);
$text-shadow-color: lighten(#2c394f, 10%);

$secondary-text-color: var(--color-gray-400);
$border-color: var(--color-gray-700);
$border-color-td: var(--color-gray-700);

$input-border-color: red;
$input-bg: var(--color-gray-700);

$table-bg: var(--color-gray-700);
$highlight-color: var(--color-gray-600);
$white: var(--color-gray-800);
