$thead-bg-color-1: var(--bg-primary-700);
$thead-bg-color-2: var(--bg-primary-600);
$thead-bg-color-3: var(--bg-primary-500);

$header-color: var(--text-primary-500);
$text-color: var(--text-text-1);
$link-color: var(--brand);
$focus-color: var(--bg-primary-600);
$text-color-td: var(--text-primary-500);
$text-shadow-color: lighten(#2c394f, 10%);

$secondary-text-color: var(--text-text-1);
$border-color: var(--bg-primary-600);
$border-color-td: var(--bg-primary-600);

$input-border-color: transparent;
$input-bg: var(--bg-primary-700);

$table-bg: var(--bg-primary-700);
$highlight-color: var(--bg-primary-600);
$white: var(--surface-3);
