$thead-bg-color-1: #2c394f;
$thead-bg-color-2: #2c394f;
$chevron-color: lighten($thead-bg-color-1, 10%);

$text-color: #c7ced8;
$secondary-text-color: #8290a7;
$border-color: #435169;
$input-border-color: $border-color;

$table-bg: #324057;
$highlight-color: #445168;
